LP2Soft/Connected Services/UsuarioWS/UsuariosWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.LP2Soft.pucp.edu.pe/" targetNamespace="http://services.LP2Soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarUsuario" type="tns:insertarUsuario" />
  <xs:element name="insertarUsuarioResponse" type="tns:insertarUsuarioResponse" />
  <xs:element name="mostrarUsuario" type="tns:mostrarUsuario" />
  <xs:element name="mostrarUsuarioResponse" type="tns:mostrarUsuarioResponse" />
  <xs:complexType name="insertarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="amigos" nillable="true" type="tns:usuario" />
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="asesor" type="tns:asesor" />
      <xs:element minOccurs="0" name="codigoPUCP" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element name="creditosTotales" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cursos" nillable="true" type="tns:curso" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="esAdmin" type="xs:boolean" />
      <xs:element name="esAsesor" type="xs:boolean" />
      <xs:element minOccurs="0" name="especialidad" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eventosAgendados" nillable="true" type="tns:evento" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="portada" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="posts" nillable="true" type="tns:post" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asesor">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="calificacion" type="xs:float" />
      <xs:element name="idAsesor" type="xs:int" />
      <xs:element name="precioPorHora" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evento">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:post">
        <xs:sequence>
          <xs:element minOccurs="0" name="archivo" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="fechaDelEvento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="nombreArchivo" type="xs:string" />
          <xs:element minOccurs="0" name="nombreDelEvento" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="post" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="bloqueado" type="xs:boolean" />
      <xs:element minOccurs="0" name="contenido" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element name="idPost" type="xs:int" />
      <xs:element name="likes" type="xs:int" />
      <xs:element name="prioridad" type="xs:int" />
      <xs:element name="tipo" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="correoCodigo" type="xs:string" />
      <xs:element name="isCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>