LP2Soft/Connected Services/UsuarioWS/UsuariosWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.LP2Soft.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="UsuariosWS" targetNamespace="http://services.LP2Soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8081/LP2Soft_WebServices/UsuariosWS?xsd=1" namespace="http://services.LP2Soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="mostrarUsuario">
    <part name="parameters" element="tns:mostrarUsuario" />
  </message>
  <message name="mostrarUsuarioResponse">
    <part name="parameters" element="tns:mostrarUsuarioResponse" />
  </message>
  <message name="modificarUsuario">
    <part name="parameters" element="tns:modificarUsuario" />
  </message>
  <message name="modificarUsuarioResponse">
    <part name="parameters" element="tns:modificarUsuarioResponse" />
  </message>
  <message name="insertarUsuario">
    <part name="parameters" element="tns:insertarUsuario" />
  </message>
  <message name="insertarUsuarioResponse">
    <part name="parameters" element="tns:insertarUsuarioResponse" />
  </message>
  <message name="listarCursos">
    <part name="parameters" element="tns:listarCursos" />
  </message>
  <message name="listarCursosResponse">
    <part name="parameters" element="tns:listarCursosResponse" />
  </message>
  <message name="insertarAsesor">
    <part name="parameters" element="tns:insertarAsesor" />
  </message>
  <message name="insertarAsesorResponse">
    <part name="parameters" element="tns:insertarAsesorResponse" />
  </message>
  <message name="hacerAdmin">
    <part name="parameters" element="tns:hacerAdmin" />
  </message>
  <message name="hacerAdminResponse">
    <part name="parameters" element="tns:hacerAdminResponse" />
  </message>
  <message name="agregarAmigo">
    <part name="parameters" element="tns:agregarAmigo" />
  </message>
  <message name="agregarAmigoResponse">
    <part name="parameters" element="tns:agregarAmigoResponse" />
  </message>
  <message name="esAmigo">
    <part name="parameters" element="tns:esAmigo" />
  </message>
  <message name="esAmigoResponse">
    <part name="parameters" element="tns:esAmigoResponse" />
  </message>
  <message name="listarAmigosNombreCodigo">
    <part name="parameters" element="tns:listarAmigosNombreCodigo" />
  </message>
  <message name="listarAmigosNombreCodigoResponse">
    <part name="parameters" element="tns:listarAmigosNombreCodigoResponse" />
  </message>
  <message name="listarXnombreYcurso">
    <part name="parameters" element="tns:listarXnombreYcurso" />
  </message>
  <message name="listarXnombreYcursoResponse">
    <part name="parameters" element="tns:listarXnombreYcursoResponse" />
  </message>
  <message name="listarUsuariosNombreCodigo">
    <part name="parameters" element="tns:listarUsuariosNombreCodigo" />
  </message>
  <message name="listarUsuariosNombreCodigoResponse">
    <part name="parameters" element="tns:listarUsuariosNombreCodigoResponse" />
  </message>
  <portType name="UsuariosWS">
    <operation name="mostrarUsuario">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/mostrarUsuarioRequest" message="tns:mostrarUsuario" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/mostrarUsuarioResponse" message="tns:mostrarUsuarioResponse" />
    </operation>
    <operation name="modificarUsuario">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/modificarUsuarioRequest" message="tns:modificarUsuario" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/modificarUsuarioResponse" message="tns:modificarUsuarioResponse" />
    </operation>
    <operation name="insertarUsuario">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/insertarUsuarioRequest" message="tns:insertarUsuario" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/insertarUsuarioResponse" message="tns:insertarUsuarioResponse" />
    </operation>
    <operation name="listarCursos">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/listarCursosRequest" message="tns:listarCursos" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/listarCursosResponse" message="tns:listarCursosResponse" />
    </operation>
    <operation name="insertarAsesor">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/insertarAsesorRequest" message="tns:insertarAsesor" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/insertarAsesorResponse" message="tns:insertarAsesorResponse" />
    </operation>
    <operation name="hacerAdmin">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/hacerAdminRequest" message="tns:hacerAdmin" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/hacerAdminResponse" message="tns:hacerAdminResponse" />
    </operation>
    <operation name="agregarAmigo">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/agregarAmigoRequest" message="tns:agregarAmigo" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/agregarAmigoResponse" message="tns:agregarAmigoResponse" />
    </operation>
    <operation name="esAmigo">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/esAmigoRequest" message="tns:esAmigo" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/esAmigoResponse" message="tns:esAmigoResponse" />
    </operation>
    <operation name="listarAmigosNombreCodigo">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/listarAmigosNombreCodigoRequest" message="tns:listarAmigosNombreCodigo" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/listarAmigosNombreCodigoResponse" message="tns:listarAmigosNombreCodigoResponse" />
    </operation>
    <operation name="listarXnombreYcurso">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/listarXnombreYcursoRequest" message="tns:listarXnombreYcurso" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/listarXnombreYcursoResponse" message="tns:listarXnombreYcursoResponse" />
    </operation>
    <operation name="listarUsuariosNombreCodigo">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/listarUsuariosNombreCodigoRequest" message="tns:listarUsuariosNombreCodigo" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/listarUsuariosNombreCodigoResponse" message="tns:listarUsuariosNombreCodigoResponse" />
    </operation>
    <operation name="insertarAsesor">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/insertarAsesorRequest" message="tns:insertarAsesor" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/UsuariosWS/insertarAsesorResponse" message="tns:insertarAsesorResponse" />
    </operation>
  </portType>
  <binding name="UsuariosWSPortBinding" type="tns:UsuariosWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mostrarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCursos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hacerAdmin">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarAmigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="esAmigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAmigosNombreCodigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarXnombreYcurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuariosNombreCodigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuariosWS">
    <port name="UsuariosWSPort" binding="tns:UsuariosWSPortBinding">
      <soap:address location="http://localhost:8081/LP2Soft_WebServices/UsuariosWS" />
    </port>
  </service>
</definitions>