LP2Soft/Connected Services/UsuarioWS/UsuariosWS11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.LP2Soft.pucp.edu.pe/" targetNamespace="http://services.LP2Soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agregarAmigo" type="tns:agregarAmigo" />
  <xs:element name="agregarAmigoResponse" type="tns:agregarAmigoResponse" />
  <xs:element name="eliminarAmigo" type="tns:eliminarAmigo" />
  <xs:element name="eliminarAmigoResponse" type="tns:eliminarAmigoResponse" />
  <xs:element name="eliminarReseniaAsesor" type="tns:eliminarReseniaAsesor" />
  <xs:element name="eliminarReseniaAsesorResponse" type="tns:eliminarReseniaAsesorResponse" />
  <xs:element name="esAmigo" type="tns:esAmigo" />
  <xs:element name="esAmigoResponse" type="tns:esAmigoResponse" />
  <xs:element name="hacerAdmin" type="tns:hacerAdmin" />
  <xs:element name="hacerAdminResponse" type="tns:hacerAdminResponse" />
  <xs:element name="insertarAsesor" type="tns:insertarAsesor" />
  <xs:element name="insertarAsesorResponse" type="tns:insertarAsesorResponse" />
  <xs:element name="insertarReseniaAsesor" nillable="true" type="tns:insertarReseniaProfesor" />
  <xs:element name="insertarReseniaAsesorResponse" nillable="true" type="tns:insertarReseniaProfesorResponse" />
  <xs:element name="insertarReseniaProfesor" type="tns:insertarReseniaProfesor" />
  <xs:element name="insertarReseniaProfesorResponse" type="tns:insertarReseniaProfesorResponse" />
  <xs:element name="insertarUsuario" type="tns:insertarUsuario" />
  <xs:element name="insertarUsuarioResponse" type="tns:insertarUsuarioResponse" />
  <xs:element name="listarAmigosNombreCodigo" type="tns:listarAmigosNombreCodigo" />
  <xs:element name="listarAmigosNombreCodigoResponse" type="tns:listarAmigosNombreCodigoResponse" />
  <xs:element name="listarCursos" type="tns:listarCursos" />
  <xs:element name="listarCursosAsesorados" type="tns:listarCursosAsesorados" />
  <xs:element name="listarCursosAsesoradosResponse" type="tns:listarCursosAsesoradosResponse" />
  <xs:element name="listarCursosResponse" type="tns:listarCursosResponse" />
  <xs:element name="listarMisPublicaciones" type="tns:listarMisPublicaciones" />
  <xs:element name="listarMisPublicacionesResponse" type="tns:listarMisPublicacionesResponse" />
  <xs:element name="listarReseniasAsesor" type="tns:listarReseniasAsesor" />
  <xs:element name="listarReseniasAsesorResponse" type="tns:listarReseniasAsesorResponse" />
  <xs:element name="listarUsuariosNombreCodigo" type="tns:listarUsuariosNombreCodigo" />
  <xs:element name="listarUsuariosNombreCodigoResponse" type="tns:listarUsuariosNombreCodigoResponse" />
  <xs:element name="listarXnombreYcurso" type="tns:listarXnombreYcurso" />
  <xs:element name="listarXnombreYcursoResponse" type="tns:listarXnombreYcursoResponse" />
  <xs:element name="modificarUsuario" type="tns:modificarUsuario" />
  <xs:element name="modificarUsuarioResponse" type="tns:modificarUsuarioResponse" />
  <xs:element name="mostrarUsuario" type="tns:mostrarUsuario" />
  <xs:element name="mostrarUsuarioResponse" type="tns:mostrarUsuarioResponse" />
  <xs:element name="recuperarContrasenia" type="tns:recuperarContrasenia" />
  <xs:element name="recuperarContraseniaResponse" type="tns:recuperarContraseniaResponse" />
  <xs:complexType name="hacerAdmin">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hacerAdminResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosAsesorados">
    <xs:sequence>
      <xs:element name="idAsesor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosAsesoradosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="cantEx" type="xs:int" />
      <xs:element name="cantLab" type="xs:int" />
      <xs:element name="cantPc" type="xs:int" />
      <xs:element name="cantTA" type="xs:int" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element name="creditos" type="xs:float" />
      <xs:element name="creditosRequeridos" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cursosRequeridos" nillable="true" type="tns:curso" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element name="favorito" type="xs:boolean" />
      <xs:element name="idCurso" type="xs:int" />
      <xs:element name="nivel" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="posts" nillable="true" type="tns:post" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="profesores" nillable="true" type="tns:profesor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="totalMateriales" nillable="true" type="tns:material" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="post" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="bloqueado" type="xs:boolean" />
      <xs:element minOccurs="0" name="contenido" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element name="idCurso" type="xs:int" />
      <xs:element name="idPost" type="xs:int" />
      <xs:element name="likes" type="xs:int" />
      <xs:element name="numeroComent" type="xs:int" />
      <xs:element name="prioridad" type="xs:int" />
      <xs:element name="tipo" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="amigos" nillable="true" type="tns:usuario" />
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="asesor" type="tns:asesor" />
      <xs:element minOccurs="0" name="codigoPUCP" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element name="creditosTotales" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cursos" nillable="true" type="tns:curso" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="esAdmin" type="xs:boolean" />
      <xs:element name="esAsesor" type="xs:boolean" />
      <xs:element minOccurs="0" name="especialidad" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eventosAgendados" nillable="true" type="tns:evento" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="portada" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="posts" nillable="true" type="tns:post" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asesor">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="calificacion" type="xs:float" />
      <xs:element name="cantidadResenias" type="xs:int" />
      <xs:element name="idAsesor" type="xs:int" />
      <xs:element name="precioPorHora" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="resenias" nillable="true" type="tns:resenia" />
      <xs:element name="sumatoriaResenias" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resenia">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:post">
        <xs:sequence>
          <xs:element name="calificacion" type="xs:int" />
          <xs:element minOccurs="0" name="profesor" type="tns:profesor" />
          <xs:element minOccurs="0" name="usuarioReseniado" type="tns:usuario" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="profesor">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="calificacion" type="xs:float" />
      <xs:element name="cantidadResenias" type="xs:int" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cursos" nillable="true" type="tns:curso" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element name="idProfesor" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="portada" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="resenias" nillable="true" type="tns:resenia" />
      <xs:element name="sumatoriaResenias" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evento">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:post">
        <xs:sequence>
          <xs:element minOccurs="0" name="archivo" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="enlaceZoom" type="xs:string" />
          <xs:element minOccurs="0" name="fechaDelEvento" type="xs:dateTime" />
          <xs:element name="horaFin" type="xs:int" />
          <xs:element name="horaInicio" type="xs:int" />
          <xs:element minOccurs="0" name="nombreDelEvento" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="material">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:post">
        <xs:sequence>
          <xs:element minOccurs="0" name="archivo" type="xs:base64Binary" />
          <xs:element name="cantidadCalificaiones" type="xs:int" />
          <xs:element minOccurs="0" name="curso" type="tns:curso" />
          <xs:element name="indice_tipoMaterial" type="xs:int" />
          <xs:element minOccurs="0" name="nombreArchivo" type="xs:string" />
          <xs:element minOccurs="0" name="nota" type="xs:string" />
          <xs:element minOccurs="0" name="profesor" type="tns:profesor" />
          <xs:element name="sumatoriaCalificaiones" type="xs:int" />
          <xs:element name="tipoMaterial" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="insertarAsesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="asesor" type="tns:asesor" />
      <xs:element name="fidUsuario" type="xs:int" />
      <xs:element name="fidCurso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAsesorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarAmigo">
    <xs:sequence>
      <xs:element name="idUsuario1" type="xs:int" />
      <xs:element name="idUsuario2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="agregarAmigoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="correoCodigo" type="xs:string" />
      <xs:element name="isCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mostrarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuariosNombreCodigo">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreCodigo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuariosNombreCodigoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarReseniaProfesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="resenia" type="tns:resenia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarReseniaProfesorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esAmigo">
    <xs:sequence>
      <xs:element name="idUsuario1" type="xs:int" />
      <xs:element name="idUsuario2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="esAmigoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAmigosNombreCodigo">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCodigo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAmigosNombreCodigoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAmigo">
    <xs:sequence>
      <xs:element name="idUsuario1" type="xs:int" />
      <xs:element name="idUsuario2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAmigoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMisPublicaciones">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element name="idCurso" type="xs:int" />
      <xs:element minOccurs="0" name="fechaI" type="xs:string" />
      <xs:element minOccurs="0" name="fechaF" type="xs:string" />
      <xs:element name="flag" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMisPublicacionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:postGenerico" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="postGenerico">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:post">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="eliminarReseniaAsesor">
    <xs:sequence>
      <xs:element name="idResenia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarReseniaAsesorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarReseniasAsesor">
    <xs:sequence>
      <xs:element name="idAsesor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarReseniasAsesorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:resenia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursos">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCursosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recuperarContrasenia">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoPUCP" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recuperarContraseniaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarXnombreYcurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarXnombreYcursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>