LP2Soft/Connected Services/PublicacionesWS/PublicacionesWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.LP2Soft.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PublicacionesWS" targetNamespace="http://services.LP2Soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8081/LP2Soft_WebServices/PublicacionesWS?xsd=1" namespace="http://services.LP2Soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="modificarPost">
    <part name="parameters" element="tns:modificarPost" />
  </message>
  <message name="modificarPostResponse">
    <part name="parameters" element="tns:modificarPostResponse" />
  </message>
  <message name="eliminarPost">
    <part name="parameters" element="tns:eliminarPost" />
  </message>
  <message name="eliminarPostResponse">
    <part name="parameters" element="tns:eliminarPostResponse" />
  </message>
  <message name="insertarPost">
    <part name="parameters" element="tns:insertarPost" />
  </message>
  <message name="insertarPostResponse">
    <part name="parameters" element="tns:insertarPostResponse" />
  </message>
  <message name="listarPost">
    <part name="parameters" element="tns:listarPost" />
  </message>
  <message name="listarPostResponse">
    <part name="parameters" element="tns:listarPostResponse" />
  </message>
  <message name="insertarComentario">
    <part name="parameters" element="tns:insertarComentario" />
  </message>
  <message name="insertarComentarioResponse">
    <part name="parameters" element="tns:insertarComentarioResponse" />
  </message>
  <portType name="PublicacionesWS">
    <operation name="modificarPost">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/PublicacionesWS/modificarPostRequest" message="tns:modificarPost" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/PublicacionesWS/modificarPostResponse" message="tns:modificarPostResponse" />
    </operation>
    <operation name="eliminarPost">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/PublicacionesWS/eliminarPostRequest" message="tns:eliminarPost" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/PublicacionesWS/eliminarPostResponse" message="tns:eliminarPostResponse" />
    </operation>
    <operation name="insertarPost">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/PublicacionesWS/insertarPostRequest" message="tns:insertarPost" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/PublicacionesWS/insertarPostResponse" message="tns:insertarPostResponse" />
    </operation>
    <operation name="listarPost">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/PublicacionesWS/listarPostRequest" message="tns:listarPost" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/PublicacionesWS/listarPostResponse" message="tns:listarPostResponse" />
    </operation>
    <operation name="insertarComentario">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/PublicacionesWS/insertarComentarioRequest" message="tns:insertarComentario" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/PublicacionesWS/insertarComentarioResponse" message="tns:insertarComentarioResponse" />
    </operation>
  </portType>
  <binding name="PublicacionesWSPortBinding" type="tns:PublicacionesWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarPost">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPost">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPost">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPost">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PublicacionesWS">
    <port name="PublicacionesWSPort" binding="tns:PublicacionesWSPortBinding">
      <soap:address location="http://localhost:8081/LP2Soft_WebServices/PublicacionesWS" />
    </port>
  </service>
</definitions>