LP2Soft/Connected Services/NotificacionesWS/NotificacionesWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.LP2Soft.pucp.edu.pe/" targetNamespace="http://services.LP2Soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="enviarMensaje" type="tns:enviarMensaje" />
  <xs:element name="enviarMensajeResponse" type="tns:enviarMensajeResponse" />
  <xs:element name="insertarNotificacion" type="tns:insertarNotificacion" />
  <xs:element name="insertarNotificacionResponse" type="tns:insertarNotificacionResponse" />
  <xs:element name="listarMensajesXAmigo" type="tns:listarMensajesXAmigo" />
  <xs:element name="listarMensajesXAmigoResponse" type="tns:listarMensajesXAmigoResponse" />
  <xs:complexType name="listarMensajesXAmigo">
    <xs:sequence>
      <xs:element name="idUsuario1" type="xs:int" />
      <xs:element name="idUsuario2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMensajesXAmigoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:mensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="contenido" type="xs:string" />
      <xs:element minOccurs="0" name="fechayHora" type="xs:dateTime" />
      <xs:element name="idDestinatario" type="xs:int" />
      <xs:element name="idMensaje" type="xs:int" />
      <xs:element name="idRemitente" type="xs:int" />
      <xs:element name="leido" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNotificacion">
    <xs:sequence>
      <xs:element name="idUsuarioNotificado" type="xs:int" />
      <xs:element name="tipo" type="xs:int" />
      <xs:element name="subTipo" type="xs:int" />
      <xs:element name="idUsuarioNotificador" type="xs:int" />
      <xs:element name="idCursoFavorito" type="xs:int" />
      <xs:element name="idEventoAgendado" type="xs:int" />
      <xs:element name="idPost" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNotificacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarMensaje">
    <xs:sequence>
      <xs:element name="idUsuario1" type="xs:int" />
      <xs:element name="idUsuario2" type="xs:int" />
      <xs:element minOccurs="0" name="contenido" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarMensajeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>