LP2Soft/Connected Services/NotificacionesWS/NotificacionesWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.LP2Soft.pucp.edu.pe/" targetNamespace="http://services.LP2Soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarSolicitudAmistad" type="tns:eliminarSolicitudAmistad" />
  <xs:element name="eliminarSolicitudAmistadResponse" type="tns:eliminarSolicitudAmistadResponse" />
  <xs:element name="enviarMensaje" type="tns:enviarMensaje" />
  <xs:element name="enviarMensajeResponse" type="tns:enviarMensajeResponse" />
  <xs:element name="insertarNotificacion" type="tns:insertarNotificacion" />
  <xs:element name="insertarNotificacionResponse" type="tns:insertarNotificacionResponse" />
  <xs:element name="listarMensajesUltimos" type="tns:listarMensajesUltimos" />
  <xs:element name="listarMensajesUltimosResponse" type="tns:listarMensajesUltimosResponse" />
  <xs:element name="listarMensajesXAmigo" type="tns:listarMensajesXAmigo" />
  <xs:element name="listarMensajesXAmigoResponse" type="tns:listarMensajesXAmigoResponse" />
  <xs:element name="listarNotificaciones" type="tns:listarNotificaciones" />
  <xs:element name="listarNotificacionesResponse" type="tns:listarNotificacionesResponse" />
  <xs:complexType name="listarMensajesXAmigo">
    <xs:sequence>
      <xs:element name="idUsuario1" type="xs:int" />
      <xs:element name="idUsuario2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMensajesXAmigoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:mensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="contenido" type="xs:string" />
      <xs:element minOccurs="0" name="fechayHora" type="xs:dateTime" />
      <xs:element name="idDestinatario" type="xs:int" />
      <xs:element name="idMensaje" type="xs:int" />
      <xs:element name="idRemitente" type="xs:int" />
      <xs:element name="leido" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarNotificaciones">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarNotificacionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:notificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="notificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="cursoFavorito" type="tns:curso" />
      <xs:element minOccurs="0" name="eventoAgendado" type="tns:evento" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idNotificacion" type="xs:int" />
      <xs:element name="idUsiarioNotificado" type="xs:int" />
      <xs:element name="leido" type="xs:boolean" />
      <xs:element minOccurs="0" name="post" type="tns:post" />
      <xs:element name="subTipo" type="xs:int" />
      <xs:element name="tipo" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioNotificador" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="cantEx" type="xs:int" />
      <xs:element name="cantLab" type="xs:int" />
      <xs:element name="cantPc" type="xs:int" />
      <xs:element name="cantTA" type="xs:int" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element name="creditos" type="xs:float" />
      <xs:element name="creditosRequeridos" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cursosRequeridos" nillable="true" type="tns:curso" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="especialidad" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element name="favorito" type="xs:boolean" />
      <xs:element name="idCurso" type="xs:int" />
      <xs:element name="nivel" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="posts" nillable="true" type="tns:post" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="profesores" nillable="true" type="tns:profesor" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="totalMateriales" nillable="true" type="tns:material" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="post" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="bloqueado" type="xs:boolean" />
      <xs:element minOccurs="0" name="contenido" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element name="idPost" type="xs:int" />
      <xs:element name="likes" type="xs:int" />
      <xs:element name="numeroComent" type="xs:int" />
      <xs:element name="prioridad" type="xs:int" />
      <xs:element name="tipo" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="amigos" nillable="true" type="tns:usuario" />
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element minOccurs="0" name="asesor" type="tns:asesor" />
      <xs:element minOccurs="0" name="codigoPUCP" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element name="creditosTotales" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cursos" nillable="true" type="tns:curso" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="esAdmin" type="xs:boolean" />
      <xs:element name="esAsesor" type="xs:boolean" />
      <xs:element minOccurs="0" name="especialidad" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eventosAgendados" nillable="true" type="tns:evento" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="portada" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="posts" nillable="true" type="tns:post" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asesor">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="calificacion" type="xs:float" />
      <xs:element name="cantidadResenias" type="xs:int" />
      <xs:element name="idAsesor" type="xs:int" />
      <xs:element name="precioPorHora" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="resenias" nillable="true" type="tns:resenia" />
      <xs:element name="sumatoriaResenias" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resenia">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:post">
        <xs:sequence>
          <xs:element name="calificacion" type="xs:int" />
          <xs:element minOccurs="0" name="profesor" type="tns:profesor" />
          <xs:element minOccurs="0" name="usuarioReseniado" type="tns:usuario" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="profesor">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="calificacion" type="xs:float" />
      <xs:element name="cantidadResenias" type="xs:int" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cursos" nillable="true" type="tns:curso" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="foto" type="xs:base64Binary" />
      <xs:element name="idProfesor" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="portada" type="xs:base64Binary" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="resenias" nillable="true" type="tns:resenia" />
      <xs:element name="sumatoriaResenias" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evento">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:post">
        <xs:sequence>
          <xs:element minOccurs="0" name="archivo" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="fechaDelEvento" type="xs:dateTime" />
          <xs:element minOccurs="0" name="nombreArchivo" type="xs:string" />
          <xs:element minOccurs="0" name="nombreDelEvento" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="material">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:post">
        <xs:sequence>
          <xs:element minOccurs="0" name="archivo" type="xs:base64Binary" />
          <xs:element name="cantidadCalificaiones" type="xs:int" />
          <xs:element minOccurs="0" name="curso" type="tns:curso" />
          <xs:element minOccurs="0" name="nombreArchivo" type="xs:string" />
          <xs:element minOccurs="0" name="profesor" type="tns:profesor" />
          <xs:element name="sumatoriaCalificaiones" type="xs:int" />
          <xs:element name="tipoMaterial" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="insertarNotificacion">
    <xs:sequence>
      <xs:element name="idUsuarioNotificado" type="xs:int" />
      <xs:element name="tipo" type="xs:int" />
      <xs:element name="subTipo" type="xs:int" />
      <xs:element name="idUsuarioNotificador" type="xs:int" />
      <xs:element name="idCursoFavorito" type="xs:int" />
      <xs:element name="idEventoAgendado" type="xs:int" />
      <xs:element name="idPost" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNotificacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarMensaje">
    <xs:sequence>
      <xs:element name="idUsuario1" type="xs:int" />
      <xs:element name="idUsuario2" type="xs:int" />
      <xs:element minOccurs="0" name="contenido" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarMensajeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMensajesUltimos">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMensajesUltimosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ultimoMensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ultimoMensaje">
    <xs:sequence>
      <xs:element minOccurs="0" name="amigo" type="tns:usuario" />
      <xs:element minOccurs="0" name="mensaje" type="tns:mensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSolicitudAmistad">
    <xs:sequence>
      <xs:element name="idUsuarioNotificado" type="xs:int" />
      <xs:element name="idUsuarioNotificador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSolicitudAmistadResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>