LP2Soft/Connected Services/CursosWS/CursosWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.LP2Soft.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CursosWS" targetNamespace="http://services.LP2Soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LP2Soft_WebService/CursosWS?xsd=1" namespace="http://services.LP2Soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarProfesoresNombre">
    <part name="parameters" element="tns:listarProfesoresNombre" />
  </message>
  <message name="listarProfesoresNombreResponse">
    <part name="parameters" element="tns:listarProfesoresNombreResponse" />
  </message>
  <message name="listarCursoProfesor">
    <part name="parameters" element="tns:listarCursoProfesor" />
  </message>
  <message name="listarCursoProfesorResponse">
    <part name="parameters" element="tns:listarCursoProfesorResponse" />
  </message>
  <message name="listarProfesorXCurso">
    <part name="parameters" element="tns:listarProfesorXCurso" />
  </message>
  <message name="listarProfesorXCursoResponse">
    <part name="parameters" element="tns:listarProfesorXCursoResponse" />
  </message>
  <portType name="CursosWS">
    <operation name="listarProfesorXCurso">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/CursosWS/listarProfesorXCursoRequest" message="tns:listarProfesorXCurso" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/CursosWS/listarProfesorXCursoResponse" message="tns:listarProfesorXCursoResponse" />
    </operation>
    <operation name="listarCursoProfesor">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/CursosWS/listarCursoProfesorRequest" message="tns:listarCursoProfesor" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/CursosWS/listarCursoProfesorResponse" message="tns:listarCursoProfesorResponse" />
    </operation>
    <operation name="listarProfesorXCurso">
      <input wsam:Action="http://services.LP2Soft.pucp.edu.pe/CursosWS/listarProfesorXCursoRequest" message="tns:listarProfesorXCurso" />
      <output wsam:Action="http://services.LP2Soft.pucp.edu.pe/CursosWS/listarProfesorXCursoResponse" message="tns:listarProfesorXCursoResponse" />
    </operation>
  </portType>
  <binding name="CursosWSPortBinding" type="tns:CursosWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarProfesorXCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listaXciclo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProfesoresNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProfesorXCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCursoProfesor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProfesoresNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CursosWS">
    <port name="CursosWSPort" binding="tns:CursosWSPortBinding">
      <soap:address location="http://localhost:8080/LP2Soft_WebService/CursosWS" />
    </port>
  </service>
</definitions>